*{
    margin: 0;
    padding: 0;
}

.main{
width: 100%;
background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(wet.JPG);
background-position: center;
background-size: cover;
height: 109vh;
}
.content{
    width: 1200px;
     height: auto;
     margin: auto;
     color: #fff;
     position: relative;
}

.content .par{
padding-left: 20px;
padding-bottom: 25px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
letter-spacing: 1.2px;
line-height: 30px;
color: rosybrown;
}
.content h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 60px;
    position: relative;
   
}
.content .cn{
    width: 260px;
    height: 50px;
    background-color: #ff7200;
    border: none;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}
.content .cn a{
    text-decoration: none;
    color: white;
    transition: .3s ease;
}

.cn:hover{
    background-color: black;
}
p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 100px;
}
fieldset{
    background-color: rgb(228, 132, 87);
    border: none;
    border-radius: 10px;
}

h6{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
iframe{
    
}











